<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
    <% if user_signed_in?%>  	
        <h1>Welcome!</h1>
        <p>
            <%= link_to 'Deposit Money', deposit_account_path(current_user.id), class: 'btn btn-primary btn-lg' %>
        </p>
        <p>
            <%= link_to 'Withdraw Money', withdraw_account_path(current_user.id), class: 'btn btn-primary btn-lg' %>
        </p>
        
    <%else%>
        <p>Deposit Money From Here</p>
        <p>
            <%= link_to 'Deposit Money', deposit_accounts_path, class: 'btn btn-primary btn-lg' %>
        </p>
    <%end%>    
    </div>
  </div>
<% end %>



