<% header "Transfer Ammount" %>

<%= form_for :user do |f| %>

  <div class="form-group">
    <%= f.label :account_no %>
    <%= f.text_field :account_no %>
  </div>

  <div class="form-group">
    <%= f.label :Enter_Ammount %>
    <%= f.text_field :current_bal %>
  </div>




  <%= f.submit "Save", class: 'btn btn-primary' %>
<% end %>